{% extends 'baseLogin.html' %}
{% block content %}
  {% if session.logged_in %}
    <p>You're logged in already!</p>
  {% else %}
      <div>
        <input type="username" name="username" class="form-control" placeholder="Usuario{{ til }}" required="" />
      </div>
      <div>
        <input type="password" name="password" class="form-control" placeholder="Password" required="" />
      </div>
      <div>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Log In</button>
        </span>
      </div>
  {% endif %}
{% endblock %}
